.support-container {
  align-items: center;
  background-color: rgba(189, 126, 74, 0.856);  border-radius: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8rem;
  max-height: 600px;
  width: 1000px;
  z-index: 1;
}

.support-text {
  -moz-text-align-last: center;
  color: #222;
  font-family: "Poppins", sans-serif, monospace;
  margin-top: 5rem;
  text-align-last: center;
  text-align: center;
  white-space: pre-line;
  width: 75%;
}

.support-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
}

.support-form:input {
  height: 20px;
}

.donate-btn {
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  -webkit-box-shadow:
    inset 0 0 15px #ffc43a,
    0 0 15px #ffc43a;
  background-color: #ffc43a;
  border-radius: 10px;
  border: white;
  box-shadow: 0 0 10px#8a8a8aa8;
  color: rgba(7, 54, 98, 1);
  font-size: 25px;
  font-weight: bold;
  height: 45px;
  padding: 0;
  padding: 0;
  width: 200px;
}

.donate-btn:hover {
  -webkit-box-shadow:
    inset 0 0 30px #073662,
    0 0 30px #073662;
  border: 2px solid rgba(7, 54, 98, 1);
  box-shadow: 0 0 15px #222;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}

.donate-btn:active {
  background-color: rgba(7, 54, 98, 1);
  color: white;
}
