.event-page-content {
  display: flex;
  flex-direction: row;
  max-width: 440px;
  min-height: 610px;
}

.event-image-container {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

.event-image {
  border-radius: 10px;
  box-shadow: 0 0 15px #222;
  max-height: 95%;
  max-width: 100%;
}

.event-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  font-family: 'Poppins', sans-serif, monospace;
  font-size: 1rem;
}

.event-text p {
  margin: 0 0 1rem 0;
}

.event-header {
  margin: 0;
}

.sub-header {
  margin: 0 0 2rem 0;
  line-height: 0.5rem;
  font-style: italic;
  font-size: 0.875rem;
}

.map-link {
  margin-left: 0.5rem;
}

.donation-text {
  margin-top: 0.75rem !important;
  font-style: italic;
  font-size: 1rem;
}

.event-text a:hover {
  color: #fff5e9;
  font-style: italic;
}

@media (max-width: 1503px) {
  .event-page-content {
    max-width: 90%;
    min-height: calc((440 / 610) * 90%);
    padding: 1rem;
  }

  .event-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 1200px) {
  .event-page-content {
    max-width: 80%;
    min-height: calc((440 / 610) * 80%);
  }

  .event-text {
    font-size: 0.85rem;
  }
}

@media (max-width: 992px) {
  .event-page-content {
    max-width: 90%;
    min-height: calc((440 / 610) * 90%);
  }

  .event-text {
    font-size: 0.85rem;
  }
}

@media (max-width: 768px) {
  .event-page-content {
    max-width: 95%;
    min-height: calc((440 / 610) * 95%);
  }

  .event-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .event-page-content {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    min-height: calc((440 / 610) * 100%);
  }

  .event-image-container {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .event-text {
    font-size: 0.75rem;
  }
}
