:root {
  --color-one: #d2a56d;
  --color-two: #bd7e4a;
  --color-three: #83502e;
  --color-four: black;
  --color-five: #ffe8cd;
}

.contact-container {
  align-items: center;
  background-color: rgba(189, 126, 74, 0.856);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  width: 1000px;
  z-index: 1;
}

.contact-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  width: 500px;
}

.contact-container input,
.contact-container textarea {
  background-color: var(--color-one);
  border-radius: 10px;
  border-style: none;
  font-family: 'Poppins', sans-serif, monospace;
  margin: 10px;
  opacity: 80%;
  outline: none;
  padding: 5px;
  width: 75%;
}
.contact-container input {
  height: 30px;
}

.contact-container textarea {
  height: 100px;
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: #fad8b9;
  color: #222;
}

.contact-form input:hover,
.contact-form textarea:hover {
  background-color: #f0bc7c;
  color: #222;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #222;
  font-size: 16px;
  font-style: italic;
  padding: 0;
}

.contact-info h1 {
  padding-bottom: 2rem;
  font-weight: bold;
  font-size: larger;
}
.contact-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 500px;
  padding: 0px 50px 0px 50px;
  position: relative;
  top: -2rem;
  width: 500px;
}

.contact-text {
  -moz-text-align-last: center;
  margin-top: -1rem;
  text-align-last: center;
  text-align: center;
  white-space: pre-line;
  font-weight: 500;
  font-size: 16px;
}

.contact-icon-wrapper {
  bottom: -2rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  position: absolute;
  width: 50px;
}

.contact-icon {
  color: #222;
  display: flex;
  font-size: 20px;
}

.contact-icon:hover {
  color: #ffe8cd;
}

.contact-form > input[type='submit'] {
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  background-color: #ffe8cd;
  border-radius: 10px;
  font-size: medium;
  font-weight: bold;
  /* padding: 15px; */
  width: 150px;
  height: 30px;
  border: none;
}
.contact-form > input[type='submit']:hover {
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-color: #222;
  border-radius: 10px;
  border: solid 2px #222;
  cursor: pointer;
}
.contact-form > input[type='submit']:active {
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  background-color: #222;
  border-radius: 10px;
  color: white;
}

.contact-form > input[value='send'] {
  width: 150px;
}

.form-error {
  color: rgb(255, 120, 120);
  float: left;
  font-size: 18px;
  line-height: 15px;
  margin: 5px 0 0;
  width: 75%;
}

.contact-form > input[aria-invalid='true'] {
  background-color: #bb5c5c;
  box-shadow: 0 0 20px rgb(150, 0, 0);
  outline: 3px solid rgb(150, 0, 0);
}

.contact-form > textarea[aria-invalid='true'] {
  background-color: #bb5c5c;
  box-shadow: 0 0 20px rgb(150, 0, 0);
  outline: 3px solid rgb(150, 0, 0);
}
