:root {
  --color-one: #d2a56d;
  --color-two: #bd7e4a;
  --color-three: #83502e;
  --color-four: black;
  --color-five: #ffe8cd;
}

/* break points to be worried about 
Mobile: 360 x 640
Mobile: 375 x 667
Mobile: 360 x 720
iPhone X: 375 x 812
Pixel 2: 411 x 731
Tablet: 768 x 1024
Laptop: 1366 x 768
laptop or desktop: 1920 x 1080 
*/

#root {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
}

body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

.landing {
  left: 0;
  min-height: 800px;
  min-width: 1500px;
  position: absolute;
  top: 0;
  width: 100%;
}

.landing-content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.background-wrapper {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: brightness(80%);
  height: 100vh;
  width: 100vw;
  left: 0;
  object-fit: cover;
  overflow: auto;
  position: absolute;
  top: 0;
  z-index: -1;
}

.primary-nav {
  background-color: transparent;
  color: var(--color-one);
  font-family: 'Poppins', sans-serif, monospace;
  font-size: 40px;
  padding: 8rem 2rem;
  position: absolute;
  top: 0;
  min-width: 200px;
  z-index: 3;
}

.nav {
  display: flex;
  gap: 1rem;
}
nav a {
  color: var(--color-one);
  display: block;
  padding: 1px 16px;
  text-decoration: none;
}
nav a:hover {
  background: #d2a56d2c;
}
nav a.active {
  font-style: italic;
  font-weight: bold;
  color: var(--color-two);
}

.title {
  color: #d2a56d;
  font-family: 'Poppins', sans-serif, monospace;
  font-size: 100px;
  margin: 0;
  padding: 20px;
}

.footer-container {
  align-items: center;
  bottom: 0;
  color: #d2a56d;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  margin-bottom: 1.3rem;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

.footer-text {
  font-size: 1.2rem;
  margin-bottom: 0;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.footer-icons {
  color: #d2a56d;
  font-size: 20px;
}

.footer-icons:hover {
  color: #fff5e9;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #70707091;
  border-radius: 20px;
  border: 6px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #31313173;
}

@media (max-width: 1502px) {
  .landing {
    min-height: initial;
    min-width: initial;
  }
}

@media (max-width: 1418px) {
  .title {
    font-size: 74px;
  }
}

@media (max-width: 428px) {
  .background-wrapper {
  }
  .title {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    background: #333;
    width: 100%;
  }

  .nav.open {
    display: flex;
  }

  .primary-nav a {
    margin: 1rem 0;
  }
}

/* Ensure the nav displays normally on larger screens */
@media (min-width: 769px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    display: flex;
    position: static;
    flex-direction: column;
    background: none;
    width: auto;
  }

  .primary-nav a {
    margin: 0 1rem;
  }
}

.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 400ms,
    transform 400ms;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 400ms,
    transform 400ms;
}
