/* about page stuff */
.page-content {
  align-items: center;
  background-color: rgba(189, 126, 74, 0.856);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8rem;
  padding: 40px 40px 20px 40px;
  z-index: 1;
  max-height: 650px;
  max-width: 1000px;
}

.card-content {
  align-items: center;
  color: #222;
  column-gap: 10px;
  display: flex;
  max-height: 600px;
  max-width: 1000px;
  overflow: hidden;
}

.card::after {
  content: '';
  display: block;
}

.graphic-container {
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: center;
  width: 500px;
}

.graphic {
  border-radius: 10px;
  box-shadow: 0 0 15px #222;
  max-height: 95%;
  max-width: 100%;
}

.data {
  padding-top: 24px;
  padding: 32px;
}

.bio-text {
  color: #222;
  font-size: 20px;
  gap: 8px;
  list-style: none;
  margin-top: 16px;
  max-height: 600px;
  max-width: 400px;
  overflow-y: scroll;
  font-weight: 500;
}
.name-text {
  font-family: 'Poppins', sans-serif, monospace;
  font-size: 40px;
  margin-bottom: 0;
}

.instrument-text {
  font-family: 'Poppins', sans-serif, monospace;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
  margin-top: 0px;
}

.carousel-controls {
  display: flex;
  padding: 0px;
}
.carousel-btn {
  border-radius: 8px;
  justify-content: space-between;
  margin: 20px;
  user-select: none;
}
.carousel-btn button {
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  background-color: #ffe8cd;
  border-radius: 10px;
  font-size: medium;
  font-weight: bold;
  padding: 0;
  padding: 0;
  width: 150px;
  height: 30px;
  border: none;
}
.carousel-btn button:hover {
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-color: #222;
  border-radius: 10px;
  border: solid 2px #222;
  cursor: pointer;
}
.carousel-btn button:active {
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  background-color: #222;
  border-radius: 10px;
  color: white;
}

.carousel-btn:disabled,
button[disabled] {
  background-color: #cccccc;
  border: 1px solid #999999;
  color: #666666;
  pointer-events: none;
}
